@model CountriesViewer.Models.Country

<div class="countryDetails">
    <span>Details</span>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capital)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capital)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area) km&#178
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Population)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Population)
        </dd>

    </dl>
</div>
